
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager nm
@using UserInterface.Auth

<PageTitle>UserInterface</PageTitle>



<div class="container-fluid px-40">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <UserNavbar></UserNavbar>

            </div>

            <div class="px-4">
                @Body
            </div>
        </div>
    </div>

</div>





@code {


}
