@page "/"


<div style="width: 100%; height: 100%;">
    <img src="https://ferrari-cdn.thron.com/delivery/public/thumbnail/ferrari/11ba63f1-68c2-4932-9746-4b602c22713f/bocxuw/std/0x0/cover_f1-sf23_video_beauty_76?v=120&dpr=263" alt="Description of the image">
</div>












@code {
   
}
